<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="Evaluator" />
            <allow roles="SuperAdmin" />
            <deny roles="User" />
            <allow users="minhaz" />
        </authorization>
    </system.web>
</configuration>